[submodule "firmware-circuitpython/imports/Adafruit_CircuitPython_HID"]
	path = firmware-circuitpython/imports/Adafruit_CircuitPython_HID
	url = https://github.com/adafruit/Adafruit_CircuitPython_HID.git
[submodule "firmware-circuitpython/imports/Adafruit_CircuitPython_IRRemote"]
	path = firmware-circuitpython/imports/Adafruit_CircuitPython_IRRemote
	url = https://github.com/adafruit/Adafruit_CircuitPython_IRRemote.git
