[submodule "firmware-circuitpython/imports/Adafruit_CircuitPython_HTTPServer"]
	path = firmware-circuitpython/imports/Adafruit_CircuitPython_HTTPServer
	url = https://github.com/adafruit/Adafruit_CircuitPython_HTTPServer.git
[submodule "firmware-circuitpython/imports/Adafruit_CircuitPython_Logging"]
	path = firmware-circuitpython/imports/Adafruit_CircuitPython_Logging
	url = https://github.com/adafruit/Adafruit_CircuitPython_Logging.git
[submodule "firmware-circuitpython/imports/micropython-typing-dummy"]
	path = firmware-circuitpython/imports/micropython-typing-dummy
	url = https://github.com/74th/micropython-typing-dummy.git
[submodule "firmware-circuitpython/imports/circuitpython-ch9329"]
	path = firmware-circuitpython/imports/circuitpython-ch9329
	url = https://github.com/74th/circuitpython-ch9329
